{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_admin_panel'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_admin_panel'|trans }}</h1>
    <a class="btn btn-primary" href="{{ url('book_create') }}" role="button">{{ 'action_create_book'|trans }}</a>

    <a class="btn btn-primary" href="{{ url('user_index') }}" role="button">{{ 'action_user_index'|trans }}</a>

    <a class="btn btn-primary" href="{{ url('late_books') }}" role="button">{{ 'action_index_late_books'|trans }}</a>

    <a class="btn btn-primary" href="{{ url('in_time_books') }}" role="button">{{ 'action_index_in_time_books'|trans }}</a>

{% endblock %}