{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_book_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'book.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'book.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_author'|trans, 'author.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_language'|trans, 'language.name') }}</th>

                <th>{{ 'label_view'|trans }}</th>

                {% if app.user %}
                <th>{{ 'label_petition'|trans }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                <th>{{ 'label_edit'|trans }}</th>
                <th>{{ 'label_delete'|trans }}</th>
                        {% endif %}
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for book in pagination.items %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>

                    <td><a href="{{ url('book_index', {'filters.author_id' : book.author.id}) }}" title="{{ book.author.name }}">
                            {{ book.author.name }}
                        </a></td>

                    <td><a href="{{ url('book_index', {'filters.category_id' : book.category.id}) }}" title="{{ book.category.name }}">
                            {{ book.category.name }}
                        </a></td>
                    <td><a href="{{ url('book_index', {'filters.language_id' : book.language.id}) }}" title="{{ book.language.name }}">
                            {{ book.language.name }}
                        </a></td>
                    <td>
                        <a href="{{ url('book_show', {id: book.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                    {% if app.user %}
                    <td>
                        <a href="{{ url('petition_create', {id: book.id}) }}" title="{{ 'action_request'|trans }}">
                            {{ 'action_request'|trans }}
                        </a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ url('book_edit', {id: book.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('book_delete', {id: book.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                    </td>
                        {% endif %}
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}