{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ book.title }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{ book.author.name }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{ book.category.name }}</dd>
            <dt>{{ 'label_date'|trans }}</dt>
            <dd>{{ book.date }}</dd>
            <dt>{{ 'label_publisher'|trans }}</dt>
            <dd>{{ book.publisher.name }}</dd>
            <dt>{{ 'label_cover'|trans }}</dt>
            <dd>{{ book.cover.name }}</dd>
            <dt>{{ 'label_pages'|trans }}</dt>
            <dd>{{ book.pages }}</dd>
            <dt>{{ 'label_cover'|trans }}</dt>
            <dd>{{ book.cover.name }}</dd>
            <dt>{{ 'label_status'|trans }}</dt>
            <dd>{{ book.status.name }}</dd>
            <dt>{{ 'label_language'|trans }}</dt>
            <dd>{{ book.language.name }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{ book.description }}</dd>
            {% if book.image is defined  %}
                <img class="nav-profile-img" src="{{ asset('uploads/images/'~ book.image) }}">
            {% endif %}


            <dt>{{ 'label_tags'|trans }}</dt>

            {% if book.tag is defined and book.tag|length %}
                {% for tag in book.tag %}
                    <a href="{{ url('book_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.name }}">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% else %}
                &nbsp;
            {% endif %}
                {% if app.user %}
                    <td>
                    <a href="{{ url('vote_add', {id: book.id}) }}" title="{{ 'action_add'|trans }}">
                        {{ 'action_add'|trans }}
                    </a>
                    </td>
                {% endif %}
        </dl>
        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}