{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ book.title }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{ book.author.name }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{ book.category.name }}</dd>
            <dt>{{ 'label_date'|trans }}</dt>
            <dd>{{ book.date }}</dd>
            <dt>{{ 'label_publisher'|trans }}</dt>
            <dd>{{ book.publisher.name }}</dd>
            <dt>{{ 'label_cover'|trans }}</dt>
            <dd>{{ book.cover.name }}</dd>
            <dt>{{ 'label_pages'|trans }}</dt>
            <dd>{{ book.pages }}</dd>
            <dt>{{ 'label_cover'|trans }}</dt>
            <dd>{{ book.cover.name }}</dd>
            <dt>{{ 'label_status'|trans }}</dt>
            <dd>{{ book.status.name }}</dd>
            <dt>{{ 'label_language'|trans }}</dt>
            <dd>{{ book.language.name }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{ book.description }}</dd>
            {% if app.user %}
                {% if rate %}
                    <dt>{{ 'your_vote'|trans }}</dt>
                    {{ rate.rate }}
                    {% endif %}
                <dt>{{ 'label_votes'|trans }}</dt>
                <td>
                    <a href="{{ url('add_vote', {id: book.id}) }}" title="{{ 'action_vote'|trans }}">
                        {{ 'action_vote'|trans }}
                    </a>
                </td>
                <dt>{{ 'label_ask_for_rent'|trans }}</dt>
                <td>
                    <a href="{{ url('petition_create', {id: book.id}) }}" title="{{ 'action_request'|trans }}">
                        {{ 'action_request'|trans }}
                    </a>
                </td>
            {% endif %}

            {% if book.image is defined %}
                {% dump(book.image)  %}
                <dt>{{ 'label_image'|trans }}</dt>
                <dd>
                    <img class="img-thumbnail" src="{{ asset('uploads/images/'~ book.image) }}" alt="brak zdjęcia">
                </dd>
            {% endif %}


            <dt>{{ 'label_tags'|trans }}</dt>

            {% if book.tag is defined and book.tag|length %}
                {% for tag in book.tag %}
                    <a href="{{ url('book_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.name }}">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% else %}
            {% endif %}

        </dl>
        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}