{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_admin_panel'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_admin_panel'|trans }}</h1>
    <div class="container">
    <div class="row">
        <div class="col-sm">
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('book_create') }}" role="button">{{ 'action_create_book'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('user_index') }}" role="button">{{ 'action_user_index'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('late_books') }}" role="button">{{ 'action_index_late_books'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('in_time_books') }}" role="button">{{ 'action_index_in_time_books'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('author_index') }}" role="button">{{ 'action_author_index'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('cover_index') }}" role="button">{{ 'action_cover_index'|trans }}</a>
        </div>
        <div class="col-sm">

    <a class="btn btn-primary btn-lg btn-block" href="{{ url('category_index') }}" role="button">{{ 'action_category_index'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('language_index') }}" role="button">{{ 'action_language_index'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('publisher_index') }}" role="button">{{ 'action_publisher_index'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('tag_index') }}" role="button">{{ 'action_tag_index'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('status_index') }}" role="button">{{ 'action_status_index'|trans }}</a>
    <br><br>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url('petition_kind_index') }}" role="button">{{ 'action_petition_kind_index'|trans }}</a>
        </div>
    </div>
    </div>

{% endblock %}